
.form-history{
   width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.history-section{
   width: 570px;

}
.form-section{
    width: 400px;

}
.form-section input{
    padding: 10px;
    margin: 15px;

}
